fastapi
uvicorn

pydantic
python-dotenv

sqlalchemy
psycopg2-binary

passlib[bcrypt]
bcrypt==4.0.1

python-multipart
email-validator

pytesseract
pillow
pillow
PyMuPDF

reportlab
matplotlib

numpy
scikit-learn
sentence-transformers

groq

starlette

